/UnityClient/MyMultiMeter/Library
/UnityClient/MyMultiMeter/Assets/SerialPortUtilityPro
/UnityClient/MyMultiMeter/Assets/Video
/UnityClient/MyMultiMeter/Temp
/UnityClient/MyMultiMeter/Logs
/UnityClient/MyMultiMeter/obj
/UnityClient/MyMultiMeter/.vs
